@import "~antd/dist/antd.css";

.wrapper {
  padding: 2% 5% 10%;
  border: 1px solid black;
  margin: 5% auto;
  width: 50%;
  min-width: 320px;
  border-radius: 5px;
}

.field-wrapper {
  margin: 5% 0;
  border-bottom: 1px solid #878282;
}

.ant-row {
  justify-content: center;
}
