body {
  display: flex;
  justify-content: center;
}

button {
  padding: 2% 10%;
  background: #13131f;
  color: white;
  border: none;
  border-radius: 4px;
}

button:disabled {
  background: #ccc;
}

.App {
  text-align: center;
  padding: 10%;
  border: 1px solid;
  width: 100%;
  min-width: 350px;
  box-sizing: border-box;
  margin-top: 15%;
}
.input-wrapper {
  padding: 2% 0;
  text-align: left;
}

.input-wrapper > * {
  display: block;
}

.messageDefault {
  border: 1px solid #333;
  min-width: 300px;
  padding: 5%;
  margin: 10% 0;
  border-radius: 2px;
}

.error {
  color: #ed0f0f;
}

.success {
  background: #b4f1b4;
}

input {
  min-width: 300px;
  width: 90%;
  padding: 10px;
}

/* * {
  border: 1px solid red;
} */

form {
  width: 100%;
  padding: 0;
}

/* input {
  width: auto;
} */

#root {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
  width: 100%;
}

.input-wrapper {
  display: block;
  padding: 5% 2% 10%;
  width: 50%;
  min-width: 320px;
  max-width: 600px;
  margin: 0 auto;
  border: 1px solid grey;
  border-radius: 4px;
}
